# Core files
.env
**.swp
/secrets/
**/*.log

# Audiobookshelf
/audiobookshelf/config/
/audiobookshelf/metadata/

# Bitwarden -- I don't see any files I can safely commit
/bitwarden/data*

# Change detection -- only useful files have HA creds in them
/change_detection/data/

# Chronograf -- no useful files
/chronograf/

# Cura
/cura/cura/

# Grafana -- all default files and then sqlite database
/grafana/data/

# Home Assistant Files
/home_assistant/google_calendar.yaml
/home_assistant/.google.token
/home_assistant/.HA_VERSION
/home_assistant/home-assistant.log
/home_assistant/home-assistant.log.1
/home_assistant/home-assistant.log.fault
/home_assistant/home-assistant_v2.db
/home_assistant/secrets.yaml
/home_assistant/appdaemon/
/home_assistant/blueprints/
/home_assistant/caseta_certs/
/home_assistant/custom_components/
/home_assistant/photos/
/home_assistant/shared/
/home_assistant/shelly
/home_assistant/tts/
/home_assistant/www/
/home_assistant/zigbee.db
/home_assistant/.storage/assist*
/home_assistant/.storage/auth
/home_assistant/.storage/auth_provider.homeassistant
/home_assistant/.storage/bluetooth*
/home_assistant/.storage/core.analytics
/home_assistant/.storage/core.area_registry
/home_assistant/.storage/core.config
/home_assistant/.storage/core.config_entries
/home_assistant/.storage/core.device_registry
/home_assistant/.storage/core.entity_registry
/home_assistant/.storage/core.restore_state
/home_assistant/.storage/core.uuid
/home_assistant/.storage/frontend.*
/home_assistant/.storage/hacs.critical
/home_assistant/.storage/hacs.hacs
/home_assistant/.storage/hacs/
/home_assistant/.storage/hacs.repositories
/home_assistant/.storage/hassio
/home_assistant/.storage/.hpprinter.hp_printer
/home_assistant/.storage/homeassistant*
/home_assistant/.storage/http
/home_assistant/.storage/google*
/home_assistant/.storage/lovelace_network
/home_assistant/.storage/lovelace.lovelace_network
/home_assistant/.storage/repairs.issue_registry
/home_assistant/.storage/mobile_app
/home_assistant/.storage/onboarding
/home_assistant/.storage/person
/home_assistant/.storage/tmpbe_kcvmp
/home_assistant/.storage/trace.saved_traces
/home_assistant/.storage/unifi_data
/home_assistant/.storage/unifi*
/home_assistant/.storage/vizio
/home_assistant/.storage/zha.storage
/home_assistant/.cloud/
/home_assistant/.storage/alexa
/home_assistant/.storage/alexa_media.wolfyman06@gmail.com.pickle
/home_assistant/.storage/application_credentials
/home_assistant/.storage/cloud
/home_assistant/.storage/google_assistant
/home_assistant/.storage/http.auth
/home_assistant/.storage/tmp*
/home_assistant/zigbee.db-shm
/home_assistant/zigbee.db-wal
# Custom Home Assistant
/home_assistant/scanned_documents/

# Jellyfin
/jellyfin/

# Linkding
/linkding/

# Local PDF Merger
/localpdfmerger/

# Tandoor
/tandoori/staticfiles/

# Traefik
/traefik/config/cert.crt
/traefik/config/cert.key
/traefik/config/origin.pem
/traefik/config/private.pem
/traefik/letsencrypt/
/traefik/logs/
/traefik/appdata/

# Mosquitto -- private info in only useful file
/mosquitto/

# OpenWebRX -- SDR
/openwebrx/openwebrx/

# Portainer -- all sensitive info, default setup from compose is fine
/portainer/data/

# Redis
/redis/

# Uptime Kuma -- SQLite databases
/uptime_kuma/kuma.db*
/uptime_kuma/*.log

# Wireguard -- all sensitive info
/wireguard/

# Paperless - no custom config, ignore all
/paperless/

# Uptime Kuma
/uptime_kuma/data/

# Home Lab APIs Repo
/home_lab_apis/


# Zap2Xml
/zap2xml/
