# Homelab logrotate file

/home/brian/git/home_lab/traefik/logs/* {
    dateext
    compress
    rotate 3
    size 100M
    sharedscripts
    missingok
    endscript
}

/home/brian/git/home_lab/home_assistant/home-assistant.log {
    dateext
    compress
    rotate 3
    size 50M
    sharedscripts
    missingok
    endscript
}

/home/brian/git/home_lab/mosquitto/log/mosquitto.log {
    dateext
    compress
    rotate 3
    size 50M
    sharedscripts
    missingok
    endscript
}

